body{
  font-size: 22px;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header*/

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  text-decoration: underline;
  border-bottom: 1px solid seashell;
}

header img{
  height: 50px;
  margin-left: 10px;
}

a{
  color: seashell;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 350px;
}

/*Mission*/
.mission{
  display: flex;
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-position: center;
  }

.mission-text{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 1200px;
}

/*Tea of the Month*/
.tea{
  width: 1000px;
  margin: 0 auto;
  }

.tea img{
  width: 300px;
  height: 200px;
}

.tea-imgs-row-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.tea-imgs-row-2{
  display: flex;
  justify-content: space-around;
}

.tea-info{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

/*Locations*/
.location{
  display: flex;
  flex-direction: column;
  background-image: url(../images/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  justify-content: center;
}

.address-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  width: 300px;
  margin: 15px 20px;
  opacity: 1;
}

.address{
  display: flex;
  justify-content: center;
}

/*Footer*/
.contact{
  height: 200px;
}

.copyright{
  text-align: left;
  margin-left: 20px;
}
